body {
    .content {
    padding:30px
}

    background-image: url('../../images/background.png');

}

nav a {
    font-family: 'Spirax', cursive;
    font-size: 25px;
    
    
}

.card {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

    .card{
        background-color: green;
        margin: 0 auto;
        max-width:1200px;
        width:90%;
    }



        
        .card {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%
}

.side-image{
    display: block;
    height: 100%;
    width: 100%;

}

.logo-image{
    display: block;
    
}

.main-text{
    font-size: 48px;
    text-align: center
}