@import 'skew';

body {
    .content {
    padding:30px
}

    background-image: url('../../images/background.png');

}

nav a {
    font-family: 'Spirax', cursive;
    font-size: 25px;
    
    
}

.card {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.card-skew{
    width: 100%;
    height: 200px;
    @include angle-edge($pos-top: topleft, $angle-top: 20deg);
    background: green;
}

 .swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

        
        .card {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%
}

.side-image{
    display: block;
    height: 100%;
    width: 100%;

}

.logo-image{
    display: block;
    
}

.main-text{
    font-size: 48px;
    text-align: center
}