body {
    background-image: url('../../images/background.png');

}

nav a {
    font-family: 'Spirax', cursive;
}

.card {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}